<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="test-host" value="127.0.0.1"/>
    <add key="test-port" value="2006"/>
    <add key="test-connection-pool-size" value="10"/>
    <add key="test-connection-timeout-seconds" value="30"/>
  </appSettings>
</configuration>
